p
{
    background-color: red;
    color: white;
    font-family: arial
    font-size: 22pt;
}

body
{
    background-image: url(Lebron2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
a
{
    background-color: blue;
    color: red;
}

a:hover
{
    background-color: red;
    color: blue
}
